{% extends "index.html" %}
{% block content %}

<section id="sec3">
    <div class="height100">
        <div class="login_form mx-auto">
           
              <form class="needs-validation" action="./form_result" method="POST">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="lastName">氏名</label>
                    <input type="text" class="form-control" name="fname" id="lastName" placeholder="" value="" required>
                   
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="firstName">名前</label>
                    <input type="text" class="form-control" name="sname" id="firstName" placeholder="" value="" required>
                  </div>
                </div>
        
                <div class="mb-3">
                  <label for="age">年齢</label>
                  <input type="number" class="form-control" id="age" name="age" required>
                </div>
                
                <div class="d-block my-3">
                    <label for="address">性別</label>
                    <div class="row ml-2">
                        <div class="custom-control custom-radio mr-3">
                        <input id="male" name="gender" type="radio" class="custom-control-input"  required>
                        <label class="custom-control-label" for="male">男性</label>
                        </div>

                        <div class="custom-control custom-radio">
                        <input id="female" name="gender" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="female">女性</label>
                        </div>
                    </div>
                </div>
                
                <button class="btn btn_clr btn-lg btn-block" type="submit">送信</button>
              </form>
    </div>
    </div><!-- .container -->    
</section>

{% endblock %}