@charset "utf-8";

/* *****共通設定***** */

main{
    display: block;
    background-color: #fbfbf2;
}
main .btn{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.5rem;
}
h1 { font-size: 4.5rem; }
h2, h3{
   color: #401f0f;
}
.gray {
    color: #6c757d;
}
.card{
    border-color: #e0c7b2;
}
.img-thumbnail {
    width: 100%;
    padding: .25rem;
    background-color: transparent;
    border: none;
}

/* ヘッダー(navbar) */
.navbar{
    border-bottom: 1px solid #a29080;
    background-color: #22b1b1;
}
.navbar .navbar-collapse{
    flex-grow: 0;
}
.navbar .navbar-brand{
    height: 50px;
}
.navbar .navbar-brand img{
    height: 100%;
}
.navbar .navbar-nav .active > .nav-link{
    color: #ffce11;
}
.navbar .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(251,251,241,1);
}


/* 各コンテンツ */
.height100{
    min-height: 90vh;
}

.login_form{
    width: 80%;
    max-width: 500px;
    padding-top: 80px;
}

.btn_clr{
    background-color: #2eaaaa;
}